/*
Theme Name: Manino
Description: Thème enfant pour Nexus
Author: AGES
Template: Nexus
*/

@import url("../Nexus/style.css");

@font-face {
    font-family: 'ostrich_sans_inlineregular';
    src: url('images/font/ostrich_sans_inline-regular-webfont.eot');
    src: url('images/font/ostrich_sans_inline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/font/ostrich_sans_inline-regular-webfont.woff2') format('woff2'),
         url('images/font/ostrich_sans_inline-regular-webfont.woff') format('woff'),
         url('images/font/ostrich_sans_inline-regular-webfont.ttf') format('truetype'),
         url('images/font/ostrich_sans_inline-regular-webfont.svg#ostrich_sans_inlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { /*font-family: 'Roboto', sans-serif;*/ font-family: 'Raleway', Arial, sans-serif; font-weight: 300; margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

.easy-table{
	border: 1px solid #eee;
}
.easy-table td, .easy-table th{
	border: 1px solid #eee;
}
article, aside, footer, header, hgroup, nav, section { display: block; }
article #Agenda .post-meta{	display:none;}.recent-post #Agenda .et-main-image .meta-info{	display:none;}
/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

/* Cet élément block le script injecté dans l'iframe. On le cache */
#fb-root { display: none; } 

/* on redéfini la taille du contenu */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] { width: 100% !important; }


body { font-family: 'Raleway', Arial, sans-serif; font-weight: 400; font-size: 14px; color: #333; background-color: #ffffff; }


a { text-decoration: none; }
a:hover { text-decoration: none;  }

a#btn {
	text-decoration: none;
	background-color: #ed7703;
	color:#ffffff;
	padding: 10px 15px;
	border-bottom:3px solid #3e9c92;
}
a#btn:hover {
	text-decoration: none;
	background-color: #77ab2f;
	color:#ffffff;
	padding: 10px 15px;
	border-bottom:3px solid #738a24;
}

p a { text-decoration: underline;}
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #333; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 30px; }
h2 { font-size: 18px;}
h3 { font-size: 18px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom:0px 45px 20px 0px; line-height: 22px; }
.one_half { padding-bottom: 10px; line-height: 26px; }

strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}


input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

.resultats{
	background: #f0efe8 url(images/bg_resultats.png) no-repeat center top;
	padding: 0px 0 20px 0;
}
.resultats h3{
	background: #9ec340;
	font-size: 18px;
	color: #fefefe;
	font-weight: bold;
	padding: 10px 15px;
	margin: 0 0 40px 0;
	display: inline-block;
}
.resultats li{
	width: 33%;
	float: left;
	padding: 0 10% 0 6%;
	margin: 0 0px 0px 0;
	display: block;
	background: transparent url(images/puce_universud.png) no-repeat left top;
	line-height: 20px;
	min-height: 140px;
	border: 1px solid red;
}
.resultats li .post-meta-key{
	display: block;
	color: #fa7f00;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	padding: 8px 0 20px 0;
}


img { max-width: 100%; height: auto; }
#ie8 img { width: auto; }

embed, iframe, object, video { max-width: 100%; }
#post-header { 
	padding: 0px 0; 
	margin: 0;
	background: #7aa23f;
	height: 45px;
}
#main-publication { 
	padding: 40px 0 30px 0; 
	margin: 0;
	background: #353535;
	border-bottom: 1px solid #dbdbdb;
}
#main-publication h1 { 
	color:#fff;
	margin: 0 0 40px 0;
	font-size: 26px; 
	font-weight: 400; 
	line-height:36px; 
	letter-spacing: -0.5px; 
	text-transform: uppercase;

}
#main-publication #et-post-share span { 
	color:#fff;
}

h1#top-info{
	margin:0;
	padding:0;
}

#main-header { 
	padding: 0; 
	background: #f5f5f5;
	height: 135px;
}
#main-header #telephone{ 
	margin: 20px 0 0 0;
	width: 20%;
	float: right;
	border-left: 1px solid #e9e9e9;
	height: 95px;
}
#main-header #telephone p{ 
	margin: 40px;
	display: block;
	background :transparent url(images/telephone.png) no-repeat top left;
	height: 9px;
	line-height: 1px;
	padding: 9px 0 0 40px;
	font-size: 16px;
	text-align: right;
}
#main-header #leitmotiv{
	color:#dbdbdb;
	padding: 18px 0 14px 203px;
	font-size: 22px;
	margin: 0;
}
#main-menu{ 
	padding: 0; 
	margin: 0;
	background: #f8f7f4;
	border-top: 1px solid #dbdbdb;
	height: 50px;
}
#main-slide {
	padding: 0; 
	background: #dbdbdb;
	height: 335px;
}
#main-grille {
	padding: 0; 
	background: #fff;
	height: 285px;
}
#main-contact {
	padding: 0; 
	background: #fff;
	height: 285px;
}
#main-contact .container {
	padding: 0; 
	background: #f8f8f8;
	height: 285px;
}
#main-contact .container p{
	width: 650px;
	font-size: 18px;
	color:#6a747b;
	line-height: 30px;
	padding: 100px 0px 0 0px;
	margin: 0 0 0 70px;
}
#main-contact #btn_contact{
	width: 25%;
	float: right;
	height: 285px;
}
#main-contact #btn_contact a{
	background: #9acb3c;
	padding: 20px 40px;
	font-size: 18px;
	color: #fff;
	display: inline-block; 
	margin: 116px 0 0 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	transition: all 0.1s ease-out;
}
#main-contact #btn_contact a:hover{
	background: #2e3f15;
	padding: 20px 40px;
	font-size: 18px;
	color: #fff;
	display: inline-block; 
	margin: 116px 0 0 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	transition: all 0.1s ease-out;
}

#main-grille #pointdevente{
	padding: 0; 
	width: 50%;
	height: 285px;
	float: left;
	background: #2e3f15 url(images/pointsdevente.png) no-repeat 70px center ;

}
#main-grille #pointdevente h3{
	font-size:25px;
	color: #fff;
	font-weight: 300;
	margin: 60px 120px 20px 220px;
	line-height: 34px;
}
#main-grille #pointdevente h3::after{
	content: "";
	height: 3px;
	width: 50px;
	background:#4a900b;
	display: block;
	margin: 10px 0 0 0;
}
#main-grille #pointdevente p{
	color: #fff;
	font-size: 16px;
	line-height: 34px;
	margin:0 0 0 220px;
	padding: 0;

}
#main-grille #pointdevente a{
	color: #ffb300;
	font-size: 16px;
	margin:0 0 0 220px;
}

#main-grille #engagements{
	padding: 0; 
	background: #99ca3b url(images/engagements.png) no-repeat top right;
	width: 25%;
	height: 260px;
	float: left;
	text-align: center;
	padding: 25px 0 0 0;
}
#main-grille #engagements a{
	font-family: 'ostrich_sans_inlineregular';
	color: #fff;
	font-size:56px;
	padding: 10px 0;
	letter-spacing: 0.5px;
	display: block;
	transition: all 0.2s ease-out;
}
#main-grille #engagements a:hover{
	color: #2e3f15;
	transition: all 0.2s ease-out;
}
#main-grille #engagements a::before{
	content: "";
    background: transparent url(images/be_engagements.png) no-repeat center center;
    font-weight: bold;
    height: 40px;
    display: block;
    margin: 0 0 15px 0;
}
#main-grille #engagements a:hover::before{
	content: "";
    background: transparent url(images/be_engagements.png) no-repeat center center;
    font-weight: bold;
    height: 40px;
    display: block;
    margin: 0 0 15px 0;
    transition: background 0.3s ease;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
#main-grille #engagements a::after{
	content: "";
    background: transparent url(images/af_engagements.png) no-repeat center center;
    font-weight: bold;
    height: 40px;
    display: block;
    margin: 15px 0 0 0;
}
#main-grille #coquelicots{
	padding: 0; 
	background: #99ca3b url(images/coquelicots.png) no-repeat bottom right;
	width: 25%;
	height: 285px;
	float: left;
}
#main-bread {
	padding: 0 0 0 0px; 
	height: 80px;
}
#main-bread .container {
	border-bottom : 1px solid #e5e5e5;
}
#main-slide .news{
	float: left;
	width: 100%;
}
#main-slide .news #advps_container1 .advps-slide{
	height: 255px;
}

#main-slide .publication{ 
	background: #222; 
	width: 23%; 
	float: right; 
	height: 255px;
}
#main-slide .publication h3{ 
	background: url(images/voix_solidaires.png) no-repeat left top;
	width: 252px;
	height: 119px;
	text-indent: -10000px;
	margin: 20px 0 0 25px;
}
#main-slide .publication #lien-publication{
	border: 4px solid #fff;
	margin: 0px 35px;
	text-align: center;
	color: #fff;
	padding: 15px 0 12px 0;
	font-size: 18px;
	background: url(images/bg_noir.png) repeat left top;
	letter-spacing: 0.5px;
}
#main-slide .publication #lien-publication a{
	display: block;
	color: #fff;
	font-size: 36px;
	letter-spacing: 0px;
	margin: 3px 0 0 0;
}
#main-slide .publication #lien-publication a:hover{
	color: #ed7703;
}
	.container { text-align: left; margin: 0 auto; width: 1170px; position: relative; box-shadow: none;}
	.container2 { text-align: left; margin: 0 auto; width: 1170px; position: relative; box-shadow: none;}

		.header-banner { float: right; }
		#top-navigation { 
			margin: 0px 0 0 18%; 
			width: 60%; 
			background: transparent; 
			padding-left: 0px; 
			border-right: 0px solid #fff; 
			border-left: 0px solid #fff; 
			border-top: 0px solid #fff; 
			box-shadow: none;
			height: 135px;
		}
		body.home #top-navigation {padding-left: 0px;}
			#top-navigation nav { float: left; }
				#top-menu{  }
				#top-menu li { display: block; font-weight: 300;  float: left; }
					#top-menu a { background-color: transparent; color: #000; font-size: 14px; text-transform: uppercase; text-decoration: none; padding: 63px 30px 58px 0px; display: block; position: relative; text-shadow:none; font-weight: 400; }
					#top-menu a:hover {  }
					
					#top-menu > li > a:hover, #top-menu > .sfHover > a { color: #7aa23f; background-color: #fff; text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2); }
					#top-menu > li.current-menu-item > a { 
						padding: 63px 30px 58px 0px; 
						color: #7aa23f; 
						font-weight: 400; 
						text-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2); 
					}
					#top-menu li.current-menu-item a{ color: #7aa23f; }



			#et-social-icons { float: right; width: 60px; background-color: #f6f6f6; -moz-box-shadow: inset 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff, -1px 0 0 #fff; position: relative; }
			#et-social-icons:before { content: ''; position: absolute; bottom: 0; left: 0;  width: 6px; height: 59px; pointer-events: none; }
				#et-social-icons li { float: left; list-style: none; border-left: 1px solid #e0e0e0; -moz-box-shadow: inset 1px 0 0 #fff; -webkit-box-shadow: inset 1px 0 0 #fff; box-shadow: inset 1px 0 0 #fff; }
				#et-social-icons li:first-child { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

				#et-social-icons .twitter .et-social-normal { background: url(images/twitter.png) no-repeat 19px 22px; }
				#et-social-icons .twitter .et-social-hover { background: url(images/twitter-hover.png) no-repeat 19px 22px; }
				#et-social-icons .twitter a:hover { background: #00ccff; }

				#et-social-icons .facebook .et-social-normal { background: url(images/facebook.png) no-repeat 25px 22px; }
				#et-social-icons .facebook .et-social-hover { background: url(images/facebook-hover.png) no-repeat 25px 22px; }
				#et-social-icons .facebook a:hover { background: #3f8eee; }

				#et-social-icons .rss .et-social-normal { background: url(images/rss.png) no-repeat 21px 22px; }
				#et-social-icons .rss .et-social-hover { background: url(images/rss-hover.png) no-repeat 21px 22px; }
				#et-social-icons .rss a:hover { background: #ff9110; }

				#et-social-icons .google .et-social-normal { background: url(images/google.png) no-repeat 19px 22px; }
				#et-social-icons .google .et-social-hover { background: url(images/google-hover.png) no-repeat 19px 22px; }
				#et-social-icons .google a:hover { background: #e84e18; }

					#et-social-icons a, #et-social-icons span { display: block; text-indent: -9999px; width: 60px; height: 64px; position: relative; }
					#et-social-icons a { overflow: hidden; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s; }

		#post-header ul::before {
		    content: "Nos marques: ";
			text-transform: uppercase;
		} 
		#post-header ul{
			padding: 0px;
			margin: 0 0 0 18%;
			color: #add178;
			font-size: 12px;
		}		
		#post-header li{
			display: inline;
			font-size: 12px;
			text-transform: uppercase;
			padding: 17px 0px 0px 35px;
			display: inline-block;
			margin: 0 0 0 0px;
		}
		#post-header li a{
			color: #fff;

		}
		#post-header li a:hover{
			color: #2e3f15;
			text-decoration: none;
		}
		#main-header #logo{
			display: block;
			width:175px;
			height:181px;
			background :transparent url(images/logo_manino.png) no-repeat top left;
			margin: 10px 0 0px 0;
			padding: 0px;
			text-indent:-10000px;
			position: absolute;
			z-index: 999999;

		}
		#main-header #logo-small{
			display: block;
			width: 210px;
			height: 109px;
			background :transparent url(images/universud_small.png) no-repeat center center;
			text-indent:-10000px;
			position: absolute;
			padding: 0;
			z-index: 999;
			top:-21px;

		}


		
.wpcf7-form{
	padding: 0px;
	
}
.wpcf7-form input{
	padding: 4px 5px;
	border: 1px solid #fff;
	font-style: italic;
	color: #2a2a2a;
}
#footer-social .wpcf7-not-valid-tip{
	display: none;
}
.wpcf7-form .wpcf7-submit{
	text-decoration: none;
	background-color: #f47a20;
	color:#ffffff;
	padding: 5px 5px;
	border :0px;
	cursor:pointer;
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0 0 0 10px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.5px;
	font-style: normal;
}

.wpcf7-form .wpcf7-submit:hover {
	text-decoration: none;
	background-color: #222222;
	color:#ffffff;
	padding: 5px 5px;
	cursor:pointer;
}
		
#featured { display: none; }
#featured, .post-thumbnail { 
	background-position: top center; 
	background-repeat: no-repeat; -moz-background-size: cover; -webkit-background-size: cover; background-size: cover; }
	#et-featured-posts { padding: 0px; margin:0;}
		.et-featured-post { float: left;  position: relative; overflow: hidden; }
			.et-featured-post img { display: block; }
		.et-featured-post:before { -webkit-box-shadow: inset 0 0 79px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 0 79px rgba(0, 0, 0, 0.2); box-shadow: inset 0 0 79px rgba(0, 0, 0, 0.2); top: 0; content: ""; height: 100%; left: 0; position: absolute; width: 100%; }
		.et-first, .et-second { /*width: 578px;*/ }
		.et-third, .et-fourth { /*width: 287px;*/ }
		.et-first, .et-third { padding-right: 4px; }
		
		
		#et-featured-posts .et-first .post-description  h2,
		#et-featured-posts .et-second .post-description  h2,
		#et-featured-posts .et-third .post-description  h2,
		#et-featured-posts .et-fourth .post-description  h2{
			padding-left: 0px;
			color:#ffffff;
		}
		
		.home .et-second { margin-bottom: 4px; }
			.meta-info { position: absolute; top: 0; left: 0; color: #fff; text-align: center; font-size: 28px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); line-height: 20px; width: 50px; height: 60px; z-index: 3; border-bottom:2px solid #ffffff; }
				.meta-info .meta-date { padding: 5px 5px 10px 7px; position: absolute; bottom: 0; left: 0; }
					.meta-info .month { font-weight: 900; display: block; font-size: 14px; text-transform: uppercase; }
			.post-description { position: absolute; color: #fff; left: 40px; bottom: 25px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }
				.post-description a { text-decoration: none; color: #fff; }
			.post-excerpt { position: absolute; top: 100%; left: 0; width: 100%; height: 100%; background: #111; background: rgba(0,0,0,0.4); color: #fff; opacity: 0; }
				.post-excerpt .post-title { color: #fff; font-weight: 900; font-size: 16px; margin-bottom: 3px; display: block; line-height:22px; }
				.post-excerpt .post-title a:hover, .popular-post h2 a:hover, .footer-widget li a:hover, #footer-bottom li a:hover, .excerpt-wrap a:hover { color: rgba(255,255,255,0.9); text-decoration: none; }
				.excerpt-wrap { text-shadow: 1px 1px 2px rgba(0,0,0,0.7); }
					.et-first .excerpt-wrap .post-title { font-size:18px; }
					.et-first .excerpt-wrap p { letter-spacing: -1px; font-size: 14px; line-height:22px;}
					.et-third .excerpt-wrap p, .et-second .excerpt-wrap p , .et-fourth .excerpt-wrap p  { display:none; }
					.et-third .excerpt-wrap .post-title, .et-second .excerpt-wrap .post-title , .et-fourth .excerpt-wrap .post-title { margin-top: 10px; }
				.home .et-first .excerpt-wrap { padding: 61px 62px 0 70px;  }
				.home .et-second .excerpt-wrap { padding: 29px 73px 0 70px; }
				.et-third .excerpt-wrap, .et-fourth .excerpt-wrap { padding: 29px 30px 0 70px; }
				.et-first .excerpt-wrap, .et-second .excerpt-wrap { padding: 29px 65px 0 0px;  }
				.excerpt-more { position: absolute; bottom: 21px; right: 23px; width: 12px; height: 20px; background: url(images/excerpt-more.png) no-repeat; text-indent: -9999px; }
				
				.et-third .excerpt-wrap .post-title, .et-second .excerpt-wrap .post-title, .et-fourth  .excerpt-wrap .post-title { font-size:14px; line-height:18px; font-weight: 800; }
			
			
	#et-featured-posts .et-first .post-description { left: 70px; bottom: 10px; padding :8px 5px 3px 10px; background:#333333; width: 380px;}
	#et-featured-posts .et-first .post-description h2 { font-size: 14px; line-height:18px; font-weight: 800;  }
				
	#et-featured-posts .et-second  .post-description { left: 70px; bottom: 10px; padding :8px 5px 3px 10px; background:#333333; width: 370px;}
	#et-featured-posts .et-second  .post-description h2 { font-size: 12px; line-height:18px; font-weight: 600;   }
				
	#et-featured-posts .et-third .post-description { left: 70px; bottom: 10px; padding :8px 5px 3px 10px; background:#333333; width: 140px;}
	#et-featured-posts .et-third .post-description h2 { font-size: 12px; line-height:18px;  font-weight: 600; }
				
	#et-featured-posts .et-fourth .post-description { left: 70px; bottom: 10px; padding :8px 5px 3px 10px; background:#333333; width: 140px;}
	#et-featured-posts .et-fourth .post-description h2 { font-size: 12px; line-height:18px;  font-weight: 600; }
				
				
		

.post-description, .post-excerpt, .meta-info, .popular-tabs ul, #top-menu > li > a { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.popular-tabs ul, #top-menu > li > a { -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.et-featured-post:hover .post-description { opacity: 0; }
.et-featured-post:hover .post-excerpt { top: 0; opacity: 1; }
.et-featured-post:hover .meta-info { height: 100%; }
.featured-comments { background: url(images/comments-cloud.png) no-repeat; width: 41px; height: 33px; bottom: 74px; left: 10px; position: absolute; }
	.featured-comments span { font-size: 16px; color: #ff7900; font-weight: 900; text-align: center; }
.page-wrap { margin-bottom: 0px; }

#main-content { position: relative; background: #fff; border-left: 0px solid #E0E0E0; border-right: 0px solid #E0E0E0; }
#main-content:before, .home #main-content:after { content: ''; position: absolute; top: 0; pointer-events: none; height: 100%; }
#main-content:before { right: 0; background-color: #fff; width: 31.5%; border-left: 0px solid #E0E0E0; }

#main-content-actu { position: relative; background: #fff;  }
#main-content-home{ 
	position: relative; 
	background: #fff; 

}
#main-content-home #content { float: left;  width: 100%; }

.page #main-content:after { display: none; }

	

	#content, body.page #content { 
		float: left; /*width: 958px;*/ 
		width: 60%; 
		padding: 0;
	}
	
	.fournisseurs-title{
		margin: 50px 0px 0px 0px;
		border-top: 3px solid #eaeaea;
		padding: 40px 0 5px 0;
		text-align: center;
		text-transform: uppercase;
	}
	.fournisseurs-title h3{
		font-size: 24px;
		font-weight: 300;
		color: #6a747b;
	}
	.fournisseurs-title h3::after{
		content: "";
		height: 2px;
		width: 110px;
		background:#9acb3c;
		display: block;
		margin: 25px auto 0 auto;
	}
	.fournisseurs-title h3 .green{
		color: #7aa23f;
	}


	.entry-content .liste-tag{
		margin: 0px 0px 30px 0px;
		border-bottom: 1px dotted #dbdbdb;
		padding: 8px 0;
		font-size: 14px;
		color: #dbdbdb;
	}
	#actu-module-home .liste-tag a, .entry-content .liste-tag a{
		color: #222;
	}
	#actu-module-home .liste-tag a:hover, .entry-content .liste-tag a:hover{
		color: #222;
		text-decoration: underline;
	}
	#actu-module-home .service:first-child{
		float: left;
		padding: 0px;
		height: auto;
		margin: 0px 0px 0 0px;
		width: 360px;
		background: #f3f3f3;
	}
	#actu-module-home .service{
		float: left;
		padding: 0px;
		height: auto;
		margin: 0px 0px 0 45px;
		width: 360px;
		background: #f3f3f3;
	}
	#actu-module-home .service .logo-marque img{
		padding: 0;
		margin: 0;
		border-bottom: 2px solid #dddddd;
	}
	#actu-module-home .service .thumb2{
		padding: 0 0px 0 0;
	}
	#actu-module-home .service .thumb2 a{
		padding: 0;
		margin: 0;
		display: block;
	}

	#actu-module-home .service_archive .thumb2{
		padding: 0;
		margin: 0;

	}
	#actu-module-home .service img:hover, #actu-module-home .service_archive img:hover{
		opacity: .9;
	}
	#actu-module-home .service img, #actu-module-home .service_archive img{
		
	}
	#actu-module-home .service h2.title{
		
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		margin: 15px 0 15px 0;
		padding: 0 0px 0 0;
		color: #222222;
		letter-spacing: -0.2px;

	}
	#actu-module-home .service_archive h2.title{
		
		text-align: left;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		margin: 20px 0 15px 0;
		padding: 0 0px 0 0;
		color: #222222;
		letter-spacing: -0.2px;
	}
	#actu-module-home .service h2.title a, #actu-module-home .service_archive h2.title a{
		display: inline-block;
		width: 90%;
	}
	#actu-module-home .service h2.title a:hover, #actu-module-home .service_archive h2.title a:hover{
		color: #ed7703;
		text-decoration: none;
	}
	#actu-module-home .service .meta, #actu-module-home .service_archive .meta{
		text-transform: uppercase;
		text-align: left;
		font-size: 12px;
		line-height: 16px;
		margin: 10px 0 0px 0;
		padding: 0;
		color: #dbdbdb;
	}
	#actu-module-home .service p{
		text-align: left;
		font-size: 14px;
		line-height: 20px;
		margin: 10px 0 15px 0;
		padding: 0 0px 0 0;
		text-align: center;
		color: #acacac;
	}

	#actu-module-home .service .link-service, #actu-module-home .service_archive .link-service{
		width: 100%;
		display: block;
		padding: 0 0 0px 0;
	}
	#actu-module-home .service .link-service a, #actu-module-home .service_archive .link-service a{
		text-transform: uppercase;
		text-decoration: none;
		text-align: left;
		font-size: 13px;
		line-height: 20px;
		margin: 20px 0 20px -59px;
		padding: 8px 15px;
		color: #fff;
		background: #9acb3c;
		display: inline-block;
		position: relative;
		left: 50%;
		transition: all 0.1s ease-out;
	}
	#actu-module-home .service .link-service a:hover, #actu-module-home .service_archive .link-service a:hover{
		text-transform: uppercase;
		text-decoration: none;
		text-align: left;
		font-size: 13px;
		line-height: 20px;
		margin: 20px 0 20px -59px;
		padding: 8px 15px;
		color: #fff;
		background: #ffb300;
		display: inline-block;
		position: relative;
		left: 50%;
		transition: all 0.1s ease-out;
	}
	.recent-module h1.module-title{
		
	}
	#recent-module-home h2{
		font-size: 38px;
		padding: 0px 0 10px 0;
	}
	
	#recent-module-home .et-main-image{
		display:none;
	}
	.ligne_actu{
		padding: 0px 0 0 0;
	}
	#actu-link{
		width: 100%;
		padding: 0 0 0 0px;
		
	}
	#actu-link a{
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		margin: 2px 0 2px 0px;
		padding: 10px 5px;
		color: #dbdbdb;
	}
	#actu-link a:hover{
		color: #222;
		text-decoration: none;
	}
	#left-area #description_tag{
		font-size :18px;
		border-top: 1px solid #f0efe8;
		border-bottom: 1px solid #f0efe8;
		line-height: 26px;
		padding: 15px 0 20px 0;
		margin: 0 0 40px 0;
		color: #222;

	}
	#left-area .et-learn-more{
		margin: 0 0 10px 0px;
	}
	#left-area .et-learn-more h3.heading-more{
		color:#5f5f5f;
		font-weight:400;
	}
	#left-area .et-learn-more .learn-more-content{
		font-size: 14px;
	}
	#left-area .et-learn-more .learn-more-content li{
		margin-bottom: 15px;
	}
	
	
	.fullwidth #content { float: none; width: 100% !important; }
	.fullwidth #main-content:before { display: none; }
		#breadcrumbs .raquo { display: block; float: left; position: relative; width: 40px; }
		#breadcrumbs .raquo::before { content: ""; }
		#breadcrumbs .raquo::after { content: ">"; display: block; width: 15px; height: 15px; color: #b9b9b9; margin:0 0 0 15px;  }
		.et_breadcrumbs_title, .et_breadcrumbs_content { display: block; float: left; height: 30px; }
		#breadcrumbs { color: #fdb813; text-shadow: none; font-size: 12px; border-top: 0px solid #e0e0e0; border-bottom: 0px solid #e0e0e0; background: transparent;  padding: 8px 0px 8px 0px; position: relative; }
		#breadcrumbs:before { bottom: 0; content: ""; height: 30px; right: -1px; position: absolute; width: 10px; background: none; z-index: 2; }
			
		#breadcrumbs { text-shadow: none; overflow: hidden; height: 20px;}
			#breadcrumbs a { float: left; display: block; text-decoration: none; color: #b9b9b9; font-weight: 400; padding: 0; }
			#breadcrumbs a:hover { color: #fdb813; }
			#breadcrumbs.bcn_breadcrumbs a { float: none; display: inline; padding: 0; }
			#breadcrumbs a:first-child { padding-left: 0px; }
				

		h4.widgettitle { color: #333; font-size: 16px;  padding: 17px 40px; position: relative;}
		
			h1.module-title span { font-weight: 900; }
		.module-content, .all-tabs { padding: 40px; }
			.recent-post { padding: 0 60px 60px 0; }
			.categories-tabs-module .recent-post, .recent-module .recent-post, .home .et-tab { padding: 0 0 30px; }
			.home .et-tab { padding: 0 0 40px; }
			.home .recent-post:last-child, .home .et-tab:last-child, .home .review-post:last-child { border-bottom: 1px solid #e0e0e0; }
				.et-main-image { float: left; margin-right: 39px; position: relative; line-height: 0; width: 173px; }
				.categories-tabs-module .et-main-image, .recent-module .et-main-image { width: 160px; }
			
				.et-description { margin-left: 0px; }
				.et-description p{ margin-bottom: 0px; }
				.categories-tabs-module .et-description, .recent-module .et-description { width: auto; float: none; margin: 0 0 0 0px; }
					.et-description h2 { font-size: 24px; font-weight: 900; color: #333; margin-bottom: -2px; margin-top: 0px; position: relative; top: -6px; line-height: 30px;}
					.et-description h2 a:hover, .et-tabbed-all-tabs .title a:hover, .widget li a:hover { text-decoration: none; color: #707070; }
					.et-description .post-meta { font-weight: 100; text-transform: uppercase; color: #969696; padding-top: 3px; font-size: 14px; }
						.et-description .post-meta a { color: #969696; text-decoration: none; }
						.et-description .post-meta span { color: #fff; background-color: #ff7900; margin-right: 11px; padding: 8px 14px; }
		.load-more { text-align: center; }
			.load-more a { color: #333; display: inline-block; margin-bottom: 40px; position: relative;  text-decoration: none !important; padding-right: 23px; }
			.load-more a:hover { color: #999; }
			.load-more a:before { bottom: 3px; content: ""; height: 10px; right: 0; position: absolute; width: 15px; background: url(images/load-more-bg.png) no-repeat; }

	.categories-tabs-module .et-tabs { display: none; }
	.categories-tabs-module .et-tabs:first-child { display: block; }
		.categories-tabs-module .load-more { padding-top: 40px; }
			.categories-tabs-module .load-more a { margin-bottom: 0; }

	.popular-posts-wrap, .et-popular-tabs-content { position: relative; }
		.popular-tabs { width: 239px; padding: 75px 0 60px; position: relative; float: left; }
		.et-popular-tabs-wrap { overflow: hidden; }
			.et-popular-tabs-wrap li:hover { cursor: pointer; }
			.et-popular-tabs-wrap li.popular-active:hover { cursor: default; }
		.popular-posts { background-color: #333;  -webkit-box-shadow: inset 0 5px 81px rgba(0, 0, 0, 0.75); -moz-box-shadow: inset 0 5px 81px rgba(0, 0, 0, 0.75); box-shadow: inset 0 5px 81px rgba(0, 0, 0, 0.75); padding: 40px 40px 30px 40px; margin-left: 239px; }
			.et-scroll-arrows a { display: block; height: 40px; position: absolute; text-indent: -9999px; left: 40px; width: 160px; z-index: 10; }
			.et-scroll-arrows-top { background: url(images/popular-scroll-top.png) no-repeat center center; top: -74px; }
			.et-scroll-arrows-bottom { background: url(images/popular-scroll-bottom.png) no-repeat center center; bottom: -74px; }
			.popular-tabs ul { position: relative; }
			.et-scroll-arrows-top:before { bottom: -8px; content: ""; height: 8px; left: 0; position: absolute; width: 159px; background: url(images/popular-top-bg.png) no-repeat; }
			.et-scroll-arrows-bottom:before { content: ""; top: -8px; height: 8px; left: 0; position: absolute; width: 159px; background: url(images/popular-bottom-bg.png) no-repeat; }
				.popular-active { background-color: #1f1f1f; text-shadow: 0 1px 1px #000; }
					.popular-active .popular-tab-title { color: #fff; }
					.popular-tab-title { font-size: 18px; color: #333; font-weight: 900; padding: 20px 40px 0; display: block; line-height: 22px; }
					.popular-tabs .post-meta { font-weight: 100; font-size: 14px; color: #969696; padding: 0 40px 13px; }
			.popular-post { text-shadow: 0 1px 1px #000; display: none; }
			.popular-post:first-child { display: block; }
				.main-tab-image { position: relative; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); margin-bottom: 40px; }
				.popular-post h2 { font-size: 36px; font-weight: 900; padding-bottom: 15px; }
					.popular-post h2 a { color: #fff; }
				.popular-post .post-meta { text-transform: uppercase; font-size: 14px; color: #a7a7a7; }
					.popular-post .post-meta a { color: #a7a7a7; text-decoration: none; }
				.popular-post p { color: #fff; }
		.reviews-content { padding: 40px; }
			.review-post { padding-bottom: 30px; position: relative; }
			.review-rating, .review-rating span { background: url(images/rating.png) no-repeat; display: inline-block; height: 28px; }
			.review-rating { float: left; width: 166px; }
			.recent-reviews .review-rating { position: absolute; top: 0; left: 0; float: none; }
			.et-description .review-rating { margin-right: 6px; }
				.review-rating span { background-position: 0 -28px; }
			.review-post .et-description { margin-left: 197px;  }
				.review-post .et-description h2 { font-size: 24px; }
		.categories-tabs { text-shadow: 0 1px 0 #fff; border-top: 1px solid #e0e0e0; background-color: #fafafa; -webkit-box-shadow: inset 1px 1px 0 #fff; -moz-box-shadow: inset 1px 1px 0 #fff; box-shadow: inset 1px 1px 0 #fff; position: relative; }

		.categories-tabs:before { bottom: 0; content: ""; height: 47px; right: 0; position: absolute; width: 10px; background: url(images/title-shadow.png) no-repeat; }
		.categories-tabs:after { width: 100%; height: 2px; border-top: 1px solid rgba(0,0,0,0.15); border-bottom: 1px solid rgba(0,0,0,0.15); content: ''; position: absolute; bottom: -4px; left: 0; background: #ff7900; }
			.categories-tabs li { cursor: pointer; display: inline-block; padding: 17px 19px; position: relative; }
				.categories-tabs li, .categories-tabs li a { 
					color: #333; 
					text-decoration: none;

				}

		.et-tabbed-all-tabs li:before, .widget .categories-tabs li:before { display: none; }
		.widget .categories-tabs { margin: 0 -40px; }
		.widget .categories-tabs li { padding: 13px 19px 8px !important; }
		.widget .home-tab-active:before { display: block !important; top: auto; border: none; }

			.home-tab-active { background-color: #ff7900; border: 1px solid rgba(0,0,0,0.15); border-bottom: none; margin-top: -1px; }
				.home-tab-active:before { content: ''; position: absolute; bottom: -1px; left: 0; width: 100%; height: 1px; background: #ff7900; z-index: 2; }
				.home-tab-active, .home-tab-active a { color: #fff !important; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

		.et-tabbed-widget .categories-tabs li { padding-bottom: 14px; }
		.et-tabbed-widget .categories-tabs:after { bottom: -4px; }



		#left-area #half1{ width: 48%; float: left; margin:0px 0px 0 0; padding: 0px 0px; }
		#left-area #half2{ width: 48%; float: left; margin:0 0px 0px 20px;  }
		#clr{
			clear: both;
		}

#left-area #half3 {
    float: left;
    margin: 30px 0 0 0 ;
    width: 100%;
    text-align: center;
}
		.categories{
			border-top: 1px solid #e5e5e5;
			margin: 0 auto;
			 width: 100%;
		}

		.categories-title{
			margin: 0px 0px 0px 0px;
			padding: 30px 0 20px 0;
			text-align: center;
			text-transform: uppercase;
		}
		.categories-title h3{
			font-size: 24px;
			font-weight: 300;
			color: #6a747b;
		}
		.categories-title h3::after{
			content: "";
			height: 2px;
			width: 110px;
			background:#9acb3c;
			display: block;
			margin: 25px auto 0 auto;
		}
		.categorie{
			border-bottom:1px solid #e5e5e5;
			padding: 0;
			margin: 0;
			width: 50%;
			float: left;
		}

		.content_categorie{
			padding: 0px;
			height: 100px;
			background: url(images/manino_puce_big.png) no-repeat 0 40px;
		}
		.content_categorie2{
			padding: 0px;
			height: 200px;
		}

		.content_categorie2 p{
			margin:10px 0px 0px 10px;
			text-align:center;
		}
		.categorie2 h3{
			margin:10px 10px;
			text-align:center;
			font-size: 18px;
			color: #7aa23f;
			font-weight: 700;
			text-transform: uppercase;
			padding-top:65px;
		}

		.content_categorie ul li{
			color: #333;
			font-size: 14px;
			line-height: 22px;
			margin: 0 0 0 0px;
		}
		.content_categorie ul li a{
			 color: #333;
   			 font-size: 27px;
   			 font-weight: 500;
		}
		.content_categorie ul li a:hover{
			color: #fdb813;
		}
		
		#impair .content_categorie{
			padding: 40px 60px 40px 90px;
			margin: 0 0 0 50%;
			border-right:1px solid #e5e5e5;
		}

		#pair .content_categorie{
			padding: 40px 0 40px 90px;
			margin: 0 20% 0 40px;
		}
		.categorie h3{
			font-size: 18px;
			color: #7aa23f;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0 0 15px 0;
		}
		#left-area { padding-top: 20px 40px 0px 0px;  }
			a.read-more, .comment-reply-link { background-color: #ed7703;  color: #fff; display: block; float: left; font-weight: normal; font-size: 14px; padding: 10px 15px; margin: 0px 0 0 0px; }
			a.read-more:hover, .comment-reply-link:hover { text-decoration: none; background-color: #ff7900;}
		.post-thumbnail { position: relative; margin-top: -1px; border-bottom: 7px solid #fff; height: 170px;  }            
		.post-thumbnail:before { height: 100%; position: absolute; right: 0; top: 0; width: 100%; box-shadow: none; }
			.post-thumbnail .container { height: 170px }
		.post-thumbnail h1.post-heading { 
					font-weight: 700; 
					position: absolute; 
					bottom: 0px; 
					left: 0; 
					background-color: #fff; 
					padding: 10px 15px; 
					z-index: 2; 
					color: #3d1b0d;
					font-size: 26px;

				}
			.entry-content { padding: 0 0px 30px 0px; }
			.entry-content img{ margin: 5px 0 20px 0;  }
			.entry-content img.wp-smiley{ margin: 0px 0 0px 0;  }
			.entry-content .review-rating { float: none; margin-bottom: 10px; }
				.entry-content .post-meta { font-size: 14px; font-weight: 600; padding-bottom: 14px; color:#dbdbdb; text-transform: uppercase;}
					.entry-content .post-meta a { color: #333; }
				.entry-content blockquote { 
					background: none; 
					border: none; 
					font-style: italic; 
					line-height: 38px;  
					font-size: 16px; 
					border-left: 2px solid red; 
					padding: 0 0 0 30px; 
					margin: 25px 0 35px; 
					color: #8c8c8c;
				}
				
		#left-area .et-description .post-meta{
			display:none;
		}
		
		#et-box-author	{ margin: 0; padding: 0; }
			#et-bio-author { position: relative; padding: 40px 60px 25px 152px; display:none;}
				.author-avatar { left: 60px; position: absolute; top: 40px; }
				#et-box-author p, #et-post-share span { color: #222;  }
				#author-info strong { color: #ff7900; font-weight: 900; }
			#et-post-share { padding: 0px 0px; background: #fff; border-bottom:none;}
				#et-post-share span { font-weight: 100; padding: 6px 20px 0 0; font-size: 16px; text-shadow:none; }
				#et-post-share span, #et-share-icons { float: left; }
					#et-share-icons li { display: inline-block; padding-right: 7px; }

#et-share-icons a { text-indent: -9999px; display: block; width: 31px; height: 32px; }
.google-share a { background: url(images/google-share.png) no-repeat; }
.facebook-share a { background: url(images/facebook-share.png) no-repeat; }
.twitter-share a { background: url(images/twitter-share.png) no-repeat; }

.entry-content .main-title { 
	font-size: 36px; 
	font-weight: 400; 
	margin: 0 0 22px 0; 
	line-height:36px; 
	color:#333; 
	letter-spacing: -0.5px; 
	text-transform: uppercase;
}
.entry-content .main-title::after{
	content: "";
	height: 2px;
	width: 50px;
	background:#4a900b;
	display: block;
	margin: 10px 0 0 0;
}
.main-title-tag { font-size: 26px; font-weight: 400; margin: 0 0 22px; line-height:36px; color:#ed7703; letter-spacing: -0.5px; text-transform: uppercase;}

.entry-content table { border: 1px solid #eee; margin: 0 0 35px 0; text-align: left; width: 100%; font-size: 14px; line-height: 22px;}
	.entry-content tr th, .entry-content thead th { color: #555; font-weight: bold; padding: 9px 24px; }	.entry-content tr:first-child{ color: #555; padding: 9px 24px; background-color:#f5f5f5;}
	.entry-content tr td { border: 1px solid #eee; padding: 6px 6px; }	.entry-content tr td:first-child{ width: 220px; }
	.entry-content tr td:last-child{ width: 50px; text-align:center;}
.entry-content ul, .comment-content ul { list-style-type: disc; padding: 0 0 23px 16px; line-height: 22px; }
.entry-content ul li, .entry-content ol li { padding: 0 0 10px 10px; }
	.entry-content ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 0 0 23px 0; line-height: 26px; }
		.entry-content ul li ul, .entry-content ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
		.entry-content ol li ul, .entry-content ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }

.gallery-item a { display: block; }
.gallery-item a, .gallery-caption { width: 90%; }

.entry-content h1, .entry-content h4, .entry-content h5, .entry-content h6, .comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6 { margin: 18px 0; }
.entry-content h2, #half h2{
	 line-height:30px; 
	 padding: 10px 0; 
	 display: block;
	 margin: 0 0 20px 0;
	 font-weight: 900;
	 color: #7aa23f;
	 font-size: 20px;

}
.entry-content h3{
	 line-height:24px; 
	 padding: 10px 0; 
	 display: block;
	 margin: 0 0 10px 0;
	 font-weight: 700;
	 color: #ed7703;
}
.entry-content dl, .comment-content dl { margin: 0 20px; }
.entry-content dd, .comment-content dd { margin: 9px 0 20px; line-height: 24px; }

.entry-content address, .comment-content address { line-height: 24px; margin-bottom: 12px; }

.footer-banner { background: #FFF; padding: 20px 0 20px 0; z-index: 7; position: relative; border-top: 1px solid #E0E0E0; text-align: center; }

.et-centered-ad { text-align: center; margin: 0 -5px; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/


/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/


#comment-wrap { padding: 0 0 60px; }
	h1#comments, #reply-title { font-size: 30px; font-weight: 100; margin-bottom: 30px; padding-left: 60px; }
	.commentlist { border-bottom: 1px solid #e0e0e0; }
		.commentlist li { padding: 0 60px 0 60px; }
		.commentlist li li { padding-right: 0; }
		.commentlist .children li { padding-left: 90px; }
			.comment-body { position: relative; padding-left: 90px; padding-bottom: 40px; }
				.comment_avatar { left: 0; position: absolute; top: 0; }
				.comment_avatar:before, .author-avatar:before { border-radius: 30px; -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
					.comment_avatar img, .author-avatar img { display: block; height: auto; max-width: 100%; width: auto; border-radius: 30px; }
				.comment_postinfo { margin-bottom: 7px; }
					span.fn, span.fn a { color: #333; font-weight: 900; text-decoration: none; font-size: 18px; display: block; margin-bottom: 12px; }
					span.comment_date { text-transform: uppercase; color: #969696; font-size: 14px; font-weight: 100; }
	#reply-title { padding-top: 60px; }
		#reply-title small { display: block; font-size: 14px; font-weight: 400; }
		#commentform { padding: 0 60px 100px 60px; }
			#commentform input[type="text"] { width: 40%; }
			#commentform textarea { width: 89%; }
			#commentform textarea, #commentform input[type="text"] { border: 1px solid #e6e6e6; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); padding: 17px; color: #333; }
			.form-submit { float: right; }
				.form-submit input { font-size: 16px; color: #fff; border: none; background-color: #ff7900; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: block; padding: 10px 18px; }

.comment #respond { border-bottom: none; }
	.comment #respond #reply-title, .comment #respond #commentform { padding-left: 0; }
	.comment #respond #reply-title { padding-top: 10px; }
	.comment #respond #commentform { margin-bottom: 25px; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#footer-social{
	background: #dbdbdb;

}
#footer-social .half{
	width: 50%;
	float: left;
	padding: 0;
	height: 320px;
}
#footer-social .half #newsletter{
	padding: 80px 0 0 0;
	margin: 0;
	background: url(images/bg_newsletter.jpg) no-repeat left top;
	height: 240px;
}
#footer-social .half #newsletter h4{
	font-size: 32px;
	font-weight: 400;
	padding: 0;
	margin: 0px 0 30px 0;
	color: #2a2a2a;
}
#footer-social .half .fb-like-box{
	background: #fff;
	border: 1px solid #e6dfd2;
	margin:40px 0 0 0;
	padding: 0;
}
#footer-info{
	background: #2a2a2a;

}

#et-bio-author { -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.07), inset 0 5px 81px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.07), inset 0 5px 81px rgba(0, 0, 0, 0.75); box-shadow: 0 0 15px rgba(0, 0, 0, 0.07), inset 0 5px 81px rgba(0, 0, 0, 0.75); border-bottom: 1px solid #0f0f0f; }

#pre-footer { height:130px; margin: 0px; font-size: 12px; background-color: #9acb3c;  padding: 0px 0; text-transform: uppercase; color: #6a747b;}
#pre-footer .green, #pre-footer a{
	color: #254f05;
	text-decoration: none;
}
#pre-footer a:hover{
	color: #fff;
	text-decoration: none;
}
#bloc_contact{
	width: 50%;
	float: left;
	height: 74px;
	background: transparent url(images/contact.png) no-repeat left top;
	margin: 30px 0;
}
#bloc_pdv{
	width: 50%;
	float: left;
	background: transparent url(images/pointsdevente_small.png) no-repeat left top;
	margin: 30px 0;
}
#bloc_contact h4, #bloc_pdv h4{
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	margin: 15px 0 0 100px;
}
#bloc_contact p, #bloc_pdv p{
	color: #fff;
	font-size: 16px;
	margin: 0 0 0 100px;
	text-transform: none;
}


#footer-bottom { margin: 0px 0 0 0; font-size: 12px; background-color: #fff; border-top: 1px solid #dbdbdb; border-bottom: none; padding: 20px 0; text-transform: uppercase; color: #6a747b;}
#footer-bottom .container { text-align: center; }

#main-footer #footer-widgets .footer-widget ul{
	list-style-image:none;
}

#main-footer #footer-widgets .footer-widget ul li{
	list-style-type:none;
	padding: 0px 0 0px 0px;
	line-height: 24px;
	background-image: none;
}
#main-footer #footer-widgets .footer-widget {
	font-size: 14px;
}
#et-post-share { border-top : 1px dashed #dbdbdb; padding: 20px 0 20px 0; }
	#footer-widgets {  }
		.fwidget { margin-bottom: 0px; }
			.footer-widget { float: left; width: 25%; margin: 50px 0px 50px 0; color: #fff;}

				.footer-widget h4.title { padding-bottom: 20px; color: #ed7703; font-size: 14px; font-weight: 400; line-height: 24px; text-transform: uppercase; }
				
				.footer-widget li a { color: #fff; text-decoration: none;  }
				.footer-widget li a:hover { color: #848484; text-decoration: none; }
	

	#footer-widgets .subscribe-form input#email{
		padding: 5px 7px;
		width: 100%;
		border: none;
		background: #f5f5f5;
		color: #333;
		font-style: italic;
	}
	#footer-widgets .subscribe-form input.mailjet-subscribe{
		background: #55baaf;
		padding: 5px 7px;
		text-transform: uppercase;
		border: none;
		margin: 20px 0 0 0;
		color: #fff;
		font-family: inherit;
		font-size: 13px;
		cursor: pointer;
		letter-spacing: 0.5px;
	}
	#footer-widgets .subscribe-form input.mailjet-subscribe:hover{
		background: #77ab2f;
	}
	#footer-widgets #wp_mailjet_subscribe_widget-2 .response p{
		padding: 15px 0 0 0;
		line-height: 22px;
		display: inline-block;
	}






			#footer-bottom .current-menu-item a { color: #ff7900; font-weight: 900; }
#copyright { text-align: right; color: #333; margin-bottom: 30px; }
	#copyright a { font-weight: 900; text-decoration: none; color: #333; }

/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/
#home-sidebar { width: 23%; float: right; min-height: 500px; border-left: 1px solid #dbdbdb; }


#sidebar { }
#sidebar .widget .menu .menu-item a{ font-size: 14px; line-height: 18px; }
#sidebar .et-tabbed-all-tabs li{
	margin: 10px 0 0 0;

}
#sidebar { /*width: 320px;*/ width: 40%; float: right; padding: 0px 0 0 0; margin:20px 0px 0px 0px;}
#additional-sidebar { width: 100%;  margin-top:67px;}
	.et-tabbed-all-tabs { padding: 40px 0 0; }
		.et-tabbed-all-tabs > div {  display: block; }
		.et-tabbed-all-tabs li { 
			margin-bottom: 10px; 
			padding: 0 !important; 
			list-style: none; 
			line-height: 19px !important; 
		}
		
			.smallthumb { 
				float: left; 
				line-height: 0; 
				margin-right: 20px; 
				margin-bottom: 10px; 
				margin-left: 0px;
				position: relative; 
				width: 60px; 
			}
			
			.post-metainfo .title { display: block; font-size: 14px; font-weight: 400; padding-bottom: 6px; line-height: 20px; }
				.post-metainfo .title a { color: #333; }
			.post-metainfo .postinfo, .et-main-description .postinfo { color: #969696; display: block; font-size: 14px; font-weight: 100; display:none;}

	.post-metainfo { margin-left: 77px; }
	.no-thumb .post-metainfo { margin-left: 0; }


	#additional-sidebar h4.widgettitle { background:#000; padding: 10px 15px;  margin: 0px; font-weight:normal; font-size: 14px;  }
	
	#additional-sidebar .widget_eventscalendarupcomingevents p, #additional-sidebar .widget_eventscalendarupcomingevents .dp_pec_event_phone{
		display: none;
	}

	#sidebar h4.widgettitle:before {  }
	#sidebar #participants{
	
	}
	#sidebar #menu-actualites-du-projet{
		margin: 0 0 10px 0;
	}
	#sidebar .menu-actualites-du-projet-container a#plus{
		background: #333333;
		color:#fff;
		font-size: 12px;
		padding: 5px 10px;
		margin: 0px 0 0 15px;
	}
	#sidebar .menu-actualites-du-projet-container a#plus:hover{
		text-decoration:none;
		background: #55baaf;
		color:#fff;
		font-size: 12px;
		padding: 5px 10px;
		margin: 0px 0 0 15px;
	}
	#sidebar h1{ color:#000000; }
		.widget { padding: 0 0px 30px 0px; position: relative; }
	#additional-sidebar .widget { padding: 0 0px 30px 0px; position: relative; }
	#additional-sidebar h4.widgettitle { 
		/*display:none;*/
		
	}	
		.footer-widget li { padding: 10px 0 10px 0px; position: relative; line-height: 26px; }
		.widget li{ padding: 10px 20px 10px 15px; position: relative; line-height: 26px; margin: 0 0 0 0px; border-bottom: 1px dashed #dbdbdb; }
			.widget li a { color: #000; text-decoration: none; }
			.widget li.current-menu-item a { color: #000;}
		.footer-widget li ul, .widget li ul { margin: 10px 0 -10px; }

.et-authors li { position: relative; padding-bottom: 30px; }
.et-authors li:before { border: none !important; }
	.et-authors .author-avatar { top: 0; left: 0; }
	.et-authors-posts { padding-left: 60px; }
		.et-authors-posts h4 { font-weight: 900; font-size: 18px; }
			.et-authors-posts h4 a { color: #333; }
			.et-authors-posts h4 a:hover { color: #707070; }
		.et-authors-posts span { font-size: 14px; font-weight: 100; color: #969696; }

.widget_etrecentfromwidget .et-tabbed-all-tabs { padding-top: 0; }
	.et-recent-featured-post, .recent-video-slides { margin: -31px -40px 0; z-index: 20; position: relative; }
	.et-recent-featured-post:before, .recent-video-slides:before { pointer-events: none; content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;  }
		.et-recent-featured-post img, .recent-video-slides img { display: block; }
		.recent-video-slides img { display: block; }
		.et-main-description { position: absolute; top: 0px; left: 0; padding: 20px 20px 10px 20px; background :#000000; }
		.widget_etrecentfromwidget .main-title { color: #fff; font-size: 18px; font-weight: 900; display: block; margin-bottom: 10px; }
			.widget_etrecentfromwidget .main-title a { color: inherit; }
			.widget_etrecentfromwidget .main-title a:hover { color: rgba( 255,255,255,0.9 ); }
			.et-main-description .postinfo { color: #fff; }
		.widget_etrecentfromwidget .et-tabbed-all-tabs li:first-child { margin-bottom: 0px !important; }

@-webkit-keyframes bounceIn {
	20% {
		-webkit-transform: scale(1.2);
	}

	50% {
		-webkit-transform: scale(0.8);
	}

	70% {
		-webkit-transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	20% {
		-moz-transform: scale(1.2);
	}

	50% {
		-moz-transform: scale(0.8);
	}

	70% {
		-moz-transform: scale(1.1);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	20% {
		-o-transform: scale(1.2);
	}

	50% {
		-o-transform: scale(0.8);
	}

	70% {
		-o-transform: scale(1.1);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	20% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(0.8);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.et-recent-video { display: none; position: relative; }
.et-recent-video:first-child { display: block; }
	.et-recent-video-play { position: absolute; top: 50%; left: 50%; margin: -33px 0 0 -33px; width: 67px; height: 67px; background: url(images/play-button.png) no-repeat; display: block; }
	.et-recent-video-play:hover { -webkit-animation-duration: .7s;
-webkit-animation-delay: 0s;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-fill-mode: both;
-moz-animation-duration: .7s;
-moz-animation-delay: 0s;
-moz-animation-timing-function: ease-in-out;
-moz-animation-fill-mode: both;
-o-animation-duration: .7s;
-o-animation-delay: 0s;
-o-animation-timing-function: ease-in-out;
-o-animation-fill-mode: both;
-ms-animation-duration: .7s;
-ms-animation-delay: 0s;
-ms-animation-timing-function: ease-in-out;
-ms-animation-fill-mode: both;
animation-duration: .7s;
animation-delay: 0s;
animation-timing-function: ease-in-out;
animation-fill-mode: both;
-webkit-animation-name: bounceIn;
-moz-animation-name: bounceIn;
-ms-animation-name: bounceIn;
-o-animation-name: bounceIn;
animation-name: bounceIn; }

.et-recent-videos-content { position: relative; }
	.et-recent-video-scroll a { display: block; height: 40px; left: 0; position: absolute; text-indent: -9999px; width: 240px; z-index: 10; }
	.et-scroll-video-top { background: url(images/popular-scroll-top.png) no-repeat center center; top: -26px; }
	.et-scroll-video-bottom { background: url(images/popular-scroll-bottom.png) no-repeat  center center; bottom: -35px; }
	.et-scroll-video-top:before, .et-scroll-video-bottom:before { content: ""; height: 8px; left: 0; position: absolute; width: 240px; }
	.et-scroll-video-top:before { background: url(images/scroll-video-top-bg.png) no-repeat; bottom: -8px; }
    .et-scroll-video-bottom:before { background: url(images/scroll-video-bottom-bg.png) no-repeat; top: -8px; }
	.et-recent-videos-wrap ul { padding: 34px 0 16px; }
		.et-recent-videos-wrap li { padding-left: 29px; padding-bottom: 0; cursor: pointer; }
		.et-recent-videos-wrap li:before { background: #9BC100 url(images/white-arrow.png) no-repeat 4px 0; border-radius: 10px; height: 10px; width: 10px; top: 11px; border-color: transparent !important; }
		.et-recent-videos-wrap li.et-video-active:before { background-color: #333 !important; }
			.et-recent-videos-wrap h4 { font-size: 16px; font-weight: 900; color: #333; margin-bottom: -5px; }
			.et-recent-videos-wrap .post-meta { color: #969696; }

.recent-video-slides { margin-bottom: 19px; background: #111; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; max-width: 96%; padding: 8px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/
.et_mobile_menu { z-index: 9999;  background: #ff7900; -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2); -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2); box-shadow: 3px 3px 3px rgba(0,0,0,0.2); padding: 10px 10px 10px 20px; display: none; }
	
.nav li ul { position:absolute; top:-999em; }
.nav li ul{ z-index: 9999; width: 190px; background: #ff7900; -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2); -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2); box-shadow: 3px 3px 3px rgba(0,0,0,0.2); padding: 10px 10px 10px 20px; display: none; }
	.nav li { position: relative; }
		.nav ul li { float: none; }
			.nav ul a { display:block !important; float: none !important; }
.nav li:hover ul, ul.nav li.sfHover ul { left: 0; top: 63px; }
	.nav li:hover li ul, .nav li.sfHover li ul, .nav li:hover ul, .nav li li:hover ul { top:-999em; }

.nav li li { padding: 0; height: auto !important; display: block !important; }
.nav li li ul { z-index: 1000; }
	.nav li li a:link, .nav li li a:visited, .et_mobile_menu a { display: block !important; height: auto; }
	.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

.nav li li:hover ul, ul.nav li li.sfHover ul { left: 200px; top: -30px; }

#top-menu li li, .et_mobile_menu li a { float: none !important; padding: 7px 0; }
	#top-menu li li a, .et_mobile_menu li a { color: #fff; text-shadow: 1px 1px 0 rgba( 0,0,0,0.2 ); display: block !important; }
	#top-menu li li a { padding: 0 !important; }
	#top-menu li li a:hover, .et_mobile_menu li a:hover { color: rgba( 255,255,255,0.9 ); text-decoration: none; }

/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: inherit; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/

#content .wp-pagenavi { float: right; margin: 60px 60px 60px 0; }
	.pages { display: none; }
	#content .wp-pagenavi a, #content .wp-pagenavi span { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #333; margin: 0 4px; padding: 8px 13px; text-decoration: none; text-shadow: 0 1px 0 #fff; border: 1px solid #e0dddd; -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.02))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%); background-color: #f9f9f9; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.4); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.4); }
	#content .wp-pagenavi span.current { font-weight: 900; }

.et_embedded_videos { display: none; }

body.single #left-area, body.page #left-area { border-bottom: none; }

.et-single-post-ad { text-align: center; padding: 62px 0; border-bottom: 1px solid #e0e0e0; margin: -60px 0 60px; }

.et_color_scheme_red #top-menu li.current-menu-item > a, .et_color_scheme_red #top-menu > li > a:hover, .et_color_scheme_red .meta-info, .et_color_scheme_red .et-description .post-meta span, .et_color_scheme_red .categories-tabs:after, .et_color_scheme_red .home-tab-active, .et_color_scheme_red .home-tab-active:before, .et_color_scheme_red a.read-more, .et_color_scheme_red .comment-reply-link, .et_color_scheme_red h1.post-heading, .et_color_scheme_red .form-submit input, .et_color_scheme_red .home-tab-active:before, .et_color_scheme_red .et-recent-videos-wrap li:before, .et_color_scheme_red .nav li ul, .et_color_scheme_red .et_mobile_menu, .et_color_scheme_red #top-menu > .sfHover > a { background-color: #d30500; }
.et_color_scheme_red .featured-comments span, .et_color_scheme_red #author-info strong, .et_color_scheme_red #footer-bottom .current-menu-item a, .featured-comments span { color: #d30500; }
.et_color_scheme_red .widget li:before, .et_color_scheme_red .footer-widget li:before, .et_color_scheme_red .et-popular-mobile-arrow-next { border-color: transparent transparent transparent #d30500; }
.et_color_scheme_red .et-popular-mobile-arrow-previous { border-right-color: #d30500; }
.et_color_scheme_red .categories-tabs:after, .et_color_scheme_red .home-tab-active { border-color: #a90501; }
.et_color_scheme_red .load-more a:before, .et_color_scheme_red .et_mobile_arrow { background-image: url(images/red/load-more-bg.png); }
.et_color_scheme_red .et-scroll-arrows-bottom, .et_color_scheme_red .et-scroll-video-bottom { background-image: url(images/red/popular-scroll-bottom.png); }
.et_color_scheme_red .et-scroll-arrows-top, .et_color_scheme_red .et-scroll-video-top { background-image: url(images/red/popular-scroll-top.png); }

.et_color_scheme_blue #top-menu li.current-menu-item > a, .et_color_scheme_blue #top-menu > li > a:hover, .et_color_scheme_blue .meta-info, .et_color_scheme_blue .et-description .post-meta span, .et_color_scheme_blue .categories-tabs:after, .et_color_scheme_blue .home-tab-active, .et_color_scheme_blue .home-tab-active:before, .et_color_scheme_blue a.read-more, .et_color_scheme_blue .comment-reply-link, .et_color_scheme_blue h1.post-heading, .et_color_scheme_blue .form-submit input, .et_color_scheme_blue .home-tab-active:before, .et_color_scheme_blue .et-recent-videos-wrap li:before, .et_color_scheme_blue .nav li ul, .et_color_scheme_blue .et_mobile_menu, .et_color_scheme_blue #top-menu > .sfHover > a { background-color: #0098d3; }
.et_color_scheme_blue .featured-comments span, .et_color_scheme_blue #author-info strong, .et_color_scheme_blue #footer-bottom .current-menu-item a, .featured-comments span { color: #0098d3; }
.et_color_scheme_blue .widget li:before, .et_color_scheme_blue .footer-widget li:before, .et_color_scheme_blue .et-popular-mobile-arrow-next { border-color: transparent transparent transparent #0098d3; }
.et_color_scheme_blue .et-popular-mobile-arrow-previous { border-right-color: #0098d3; }
.et_color_scheme_blue .categories-tabs:after, .et_color_scheme_blue .home-tab-active { border-color: #007dae; }
.et_color_scheme_blue .load-more a:before, .et_color_scheme_blue .et_mobile_arrow { background-image: url(images/blue/load-more-bg.png); }
.et_color_scheme_blue .et-scroll-arrows-bottom, .et_color_scheme_blue .et-scroll-video-bottom { background-image: url(images/blue/popular-scroll-bottom.png); }
.et_color_scheme_blue .et-scroll-arrows-top, .et_color_scheme_blue .et-scroll-video-top { background-image: url(images/blue/popular-scroll-top.png); }

.et_color_scheme_orange #top-menu li.current-menu-item > a, .et_color_scheme_orange #top-menu > li > a:hover, .et_color_scheme_orange .meta-info, .et_color_scheme_orange .et-description .post-meta span, .et_color_scheme_orange .categories-tabs:after, .et_color_scheme_orange .home-tab-active, .et_color_scheme_orange .home-tab-active:before, .et_color_scheme_orange a.read-more, .et_color_scheme_orange .comment-reply-link, .et_color_scheme_orange h1.post-heading, .et_color_scheme_orange .form-submit input, .et_color_scheme_orange .home-tab-active:before, .et_color_scheme_orange .et-recent-videos-wrap li:before, .et_color_scheme_orange .nav li ul, .et_color_scheme_orange .et_mobile_menu, .et_color_scheme_orange #top-menu > .sfHover > a { background-color: #fc8d00; }
.et_color_scheme_orange .featured-comments span, .et_color_scheme_orange #author-info strong, .et_color_scheme_orange #footer-bottom .current-menu-item a, .featured-comments span { color: #fc8d00; }
.et_color_scheme_orange .widget li:before, .et_color_scheme_orange .footer-widget li:before, .et_color_scheme_orange .et-popular-mobile-arrow-next { border-color: transparent transparent transparent #fc8d00; }
.et_color_scheme_orange .et-popular-mobile-arrow-previous { border-right-color: #fc8d00; }
.et_color_scheme_orange .categories-tabs:after, .et_color_scheme_orange .home-tab-active { border-color: #ec8401; }
.et_color_scheme_orange .load-more a:before, .et_color_scheme_orange .et_mobile_arrow { background-image: url(images/orange/load-more-bg.png); }
.et_color_scheme_orange .et-scroll-arrows-bottom, .et_color_scheme_orange .et-scroll-video-bottom { background-image: url(images/orange/popular-scroll-bottom.png); }
.et_color_scheme_orange .et-scroll-arrows-top, .et_color_scheme_orange .et-scroll-video-top { background-image: url(images/orange/popular-scroll-top.png); }

.et_color_scheme_purple #top-menu li.current-menu-item > a, .et_color_scheme_purple #top-menu > li > a:hover, .et_color_scheme_purple .meta-info, .et_color_scheme_purple .et-description .post-meta span, .et_color_scheme_purple .categories-tabs:after, .et_color_scheme_purple .home-tab-active, .et_color_scheme_purple .home-tab-active:before, .et_color_scheme_purple a.read-more, .et_color_scheme_purple .comment-reply-link, .et_color_scheme_purple h1.post-heading, .et_color_scheme_purple .form-submit input, .et_color_scheme_purple .home-tab-active:before, .et_color_scheme_purple .et-recent-videos-wrap li:before, .et_color_scheme_purple .nav li ul, .et_color_scheme_purple .et_mobile_menu, .et_color_scheme_purple #top-menu > .sfHover > a { background-color: #a920b2; }
.et_color_scheme_purple .featured-comments span, .et_color_scheme_purple #author-info strong, .et_color_scheme_purple #footer-bottom .current-menu-item a, .featured-comments span { color: #a920b2; }
.et_color_scheme_purple .widget li:before, .et_color_scheme_purple .footer-widget li:before, .et_color_scheme_purple .et-popular-mobile-arrow-next { border-color: transparent transparent transparent #a920b2; }
.et_color_scheme_purple .et-popular-mobile-arrow-previous { border-right-color: #a920b2; }
.et_color_scheme_purple .categories-tabs:after, .et_color_scheme_purple .home-tab-active { border-color: #8f1c97; }
.et_color_scheme_purple .load-more a:before, .et_color_scheme_purple .et_mobile_arrow { background-image: url(images/purple/load-more-bg.png); }
.et_color_scheme_purple .et-scroll-arrows-bottom, .et_color_scheme_purple .et-scroll-video-bottom { background-image: url(images/purple/popular-scroll-bottom.png); }
.et_color_scheme_purple .et-scroll-arrows-top, .et_color_scheme_purple .et-scroll-video-top { background-image: url(images/purple/popular-scroll-top.png); }

.et_pt_portfolio_item { margin-left: 99px !important; }
.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: 71px !important; }
.et_portfolio_large .et_pt_portfolio_item { margin-left: 124px !important; }

#et_mobile_nav_menu { display: none; text-align: center; padding: 15px 0; }
	.mobile_nav { position: relative; display: inline-block; color: #fff; }
	.mobile_nav:hover { text-decoration: none; color: #fff; }
		.mobile_nav.opened > span { -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg); }
		.mobile_nav > span { top: 3px; height: 10px; right: -25px; position: absolute; width: 15px; background: url(images/load-more-bg.png) no-repeat; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
		
		.et_mobile_menu ul { display: block !important; visibility: visible !important; }
		.et_mobile_menu ul li { padding-left: 15px; }

.et-popular-mobile-arrow { position: absolute; top: 19px; border-color: transparent transparent transparent #9bc100; border-style: solid; border-width: 5px; cursor: pointer; display: none; }
.et-popular-mobile-arrow-previous { left: 33px; border-color: transparent #9bc100 transparent transparent; }
.et-popular-mobile-arrow-next { right: 37px; }

.categories-tabs-module { position: relative; }

.add-modules-notice { padding: 40px; }
/*
@media only screen and ( min-width: 1301px ) {
	.home.et-2-column-layout #content { width: 100%; }
	.home.et-2-column-layout #main-content:after { display: none; }

	.et_pt_gallery_entry { margin-left: 69px !important; }
	.container { }
}

@media only screen and ( min-width: 1101px ) and ( max-width: 1300px ) {
	.container { width: 1170px; }
		#actu-module-home .service:first-child{
			float: left;
			padding: 0px;
			height: auto;
			margin: 0px 0px 0 0px;
			width: 360px;
			background: #f3f3f3;
		}
		#actu-module-home .service{
			float: left;
			padding: 0px;
			height: auto;
			margin: 0px 0px 0 45px;
			width: 360px;
			background: #f3f3f3;
		}

		a.read-more, .comment-reply-link { 
			background-color: #ff7900;  
			color: #fff; 
			display: block; 
			float: left; 
			font-weight: normal; 
			font-size: 14px; 
			padding: 10px 15px; 
			margin: 0px 0 0 0px; 
		}
		.header-banner { float: none; text-align: center; }
		#main-content { position: relative; border: none;}

		#main-slide .publication h3{ 
			background: url(images/voix_solidaires.png) no-repeat left top;
			width: 252px;
			height: 119px;
			text-indent: -10000px;
			margin: 20px 0 0 7px;
		}
		#main-slide .publication #lien-publication{
			border: 4px solid #fff;
			margin: 7px 15px 15px 15px;
			text-align: center;
			color: #fff;
			padding: 14px 0 10px 0;
		}

		#top-menu li { font-size: 14px; }
			#top-menu > li > a, #top-menu > li.current-menu-item > a { padding-bottom: 25px; }
		#et-featured-posts { padding: 0px; }
			.et-featured-post img, .popular-post .main-tab-image img { width: 100%; }
		.post-thumbnail .container { min-height: 200px; }
			h1.post-heading { font-size: 36px; }
		#main-content:before { background-position: 638px 0; }
			#content, body.page #content { width: 66.89%;}
				#left-area { padding-top: 0px; }
					.entry-content { padding: 0px 30px 0 0; }
						.author-avatar { left: 40px; }
						#et-bio-author { padding: 40px 45px 25px 130px; }
						#et-post-share { padding: 20px 0px; border-top: 1px dashed #dbdbdb; margin: 0 30px 0 0; }
					#comment-wrap { padding: 40px 0; }
						h1#comments, #reply-title { padding-left: 40px; }
							span.fn, span.fn a { font-size: 16px; }
		#footer-widgets { margin:  }
			.footer-widget { width: 25%; }
		#footer-bottom ul { padding: 23px 40px; }
			.home .et-first .post-description, .post-description { bottom: 17px; left: 30px; }
				.post-description h2 { font-size: 24px; }
		.recent-post { padding: 0 40px  30px 0px; margin: 0 0 30px 0; border-bottom: 1px dashed #dbdbdb; }
			.et-main-image { width: 173px; margin-right: 30px; }
				.et-main-image img { width: 173px; height: 160px; }
		.footer-banner { padding-left: 0px; padding-right: 0px;  }
		.footer-banner img{ padding: 5px 10px 0 0; }
	
	#featured .et-first { width: 478px; height: 160px; }
	
		.home .et-first .excerpt-wrap { padding: 31px 62px 0 96px; }
	.home .et-second { width: 478px; height: 160px; }
		.home .et-second .excerpt-wrap { padding-top: 15px; }
		
	#featured .et-third { width: 237px; height: 160px; }
	#featured .et-fourth { width: 237px; height: 160px; }
		.et-third .excerpt-wrap, .et-fourth .excerpt-wrap { padding-top: 8px; }
		.home .et-second .post-description h2 { font-size: 20px; }
		.home .et-third .post-description h2, .home .et-fourth .post-description h2 { font-size: 18px; }
		.home .et-third .post-meta, .home .et-fourth .post-meta { display: none; }
		.home #additional-sidebar { }
		.home #sidebar { width: 319px; }

	.et-description { margin-left: 200px; }

	#et-social-icons { width: 50px; }
		#et-social-icons a, #et-social-icons span { width: 50px; }
		#et-social-icons .twitter .et-social-normal { background-position: 15px 23px; }
		#et-social-icons .twitter .et-social-hover { background-position: 15px 20px; }
		#et-social-icons .facebook .et-social-normal { background-position: 21px 22px; }
		#et-social-icons .facebook .et-social-hover { background-position: 21px 20px; }
		#et-social-icons .rss .et-social-normal { background-position: 17px 22px; }
		#et-social-icons .rss .et-social-hover { background-position: 17px 20px; }
		#et-social-icons .google .et-social-normal { background-position: 14px 22px; }
		#et-social-icons .google .et-social-hover { background-position: 14px 21px; }

	body.category .et-first, body.category .et-second { width: 438px; height: 212px; }
		body.category .et-first .post-description { bottom: 17px; left: 30px; }
		body.category .et-first .post-description h2 { font-size: 28px; }

	.et_pt_gallery_entry { margin-left: 69px !important; }

	#et_pt_portfolio_gallery { margin-right: -70px; }
		.et_pt_portfolio_item { margin-left: 51px !important; }

	.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: 32px !important; }

	.et_portfolio_large .et_pt_portfolio_item { margin-left: 49px !important; }

	.et-single-post-ad { padding: 40px 0; margin-bottom: 0; }
}

@media only screen and ( max-width: 1100px ) {
	#et-search, p#et-search-title, p#et-search-title span { background: none !important; }
	#et-search { width: auto !important; height: auto !important; }
		#et-search-inner { padding: 0 !important; }
			#et-search-right { float: none !important; clear: both; text-align: left !important; }
				#et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
			p#et-search-title { margin-bottom: 2px !important; }
				p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
	#et-searchinput { width: auto !important; }
	p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
	#et-search-left { float: none !important; width: 100% !important; }
	#main-content { position: relative; background: #fff; border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; }
}





@media only screen and ( min-width: 767px ) and ( max-width: 1100px ) {
	.container { width: 766px; }
		#actu-module-home .service{
			float: left;
			padding: 10px 0 0px 0px;
			height: auto;
			margin: 0px 0px 0 0px;
			width: 100%;
			border-bottom: 1px dashed #dbdbdb;
		}
		#actu-module-home .service h2.title{
		
			text-align: left;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			margin: 0px 0 15px 0;
			padding: 0 0px 0 0;
			color: #222222;
			letter-spacing: -0.2px;
		}
		#actu-module-home .service .thumb2{
			width: 70%;
		}
		.ligne_actu{
			border-bottom: 0px dashed #dbdbdb;
			padding: 0px 0 0 0px;
		}
		.main-title-tag{
			margin: 0 40px;
		}
		#actu-module-home .liste-tag{
			margin: 0px 0px 20px 0px;
			border-bottom: 1px dotted #dbdbdb;
			padding: 8px 0;
			font-size: 14px;
			color: #dbdbdb;
		}
		#left-area #description_tag{
			font-size :18px;
			border-top: 1px solid #f0efe8;
			border-bottom: 1px solid #f0efe8;
			line-height: 26px;
			padding: 15px 40px 20px 0;
			margin:  20px 40px 40px 40px;
			color: #222;

		}
		#main-content-home{ 
			background: #fff; 
			padding: 0 0px;
		}
		#main-header { 
			height: 101px;
		}
		#main-header #telephone{ 
			padding: 0; 
			margin: 0px 0 0 0;
			background: #f8f7f4;
			width: 25%;
			height: 40px;
			
			text-indent: -10000px;
			position:absolute;
			right: 0px;
			top: 5px;
		}

		
		#breadcrumbs { font-size: 14px;  position: relative; color:#f8f7f4; text-transform: uppercase; margin: 0 0 0 161px; }
		
		
		#main-header #leitmotiv{
			color:#dbdbdb;
			padding: 14px 0 12px 163px;
			font-size: 22px;
			margin: 0;
		}
		.header-banner { float: none; text-align: center; }
		#featured .et-first { height: 160px; }
		#featured .et-third { height: 160px; }
		#featured .et-fourth { height: 160px; }
		
		#top-menu li { font-size: 14px; }
		.nav li:hover ul, ul.nav li.sfHover ul { left: 0; top: 61px; }
		#et-social-icons { display: none; }
		#et-featured-posts { padding: 40px; }
			.et-featured-post img, .popular-post .main-tab-image img { width: 100%; }
		.post-thumbnail .container { min-height: 200px; }
			h1.post-heading { font-size: 36px; }
		#main-content:before { background-position: 766px 0; }
			#content, body.page #content { width: 766px; }
				#sidebar { width: 766px; }
				
					#sidebar .widget {  padding-left: 40px; padding-right: 0px;  }
				#left-area { padding-top: 40px; }
					.entry-content { padding: 0 40px 30px; }
						.author-avatar { left: 40px; }
						#et-bio-author { padding: 40px 45px 25px 130px; }
						#et-post-share { padding: 20px 40px; }
					#comment-wrap { padding: 40px 0; }
						h1#comments, #reply-title { padding-left: 40px; }
							span.fn, span.fn a { font-size: 16px; }
		.container #top-navigation { 

		}	
		#main-slide {
			padding: 0; 
			background: #dbdbdb;
			height: 236px;
		}
		#main-slide .news{
			float: left;
			width: 100%;
			height: 235px;
		}
		#main-slide .publication{
			display: none;
		}
		.advps-slide
		#main-slide .news .advps-slide-container, 
		#main-slide .news .advps-slide-container .advps-slide,
		#main-slide .news .advps-slide-container .bx-wrapper,
		#main-slide .news .advps-slide-container .bx-viewport, 
		#main-slide .news .advps-slide-container #advpsslideshow_1{
			height: 235px;

		}
		.advps-slide-container .bx-controls-direction .bx-prev{
			display: none;
		}
		.bx-wrapper .bx-controls-direction a {
			position: absolute;
			top: 0;
			margin-top: 118px;
			outline: 0;
			width: 32px;
			height: 32px;
			text-indent: -9999px;
			z-index: 9999;
		}	

		.advps-excerpt-block-one{
			position:relative;	
			padding:0px;
			width:auto;
			height:auto;
			z-index:9;
			margin: 180px 0 0 0;

		}	

		#main-content-home #content { float: left;  width: 100%; }
		#main-header #logo{
			display: block;
			width:150px;
			height:152px;
			background :transparent url(images/universud_mid.png) no-repeat center center;
			margin: 0px 0 0 0;
			padding: 0px;
			text-indent:-10000px;
			position: absolute;
			top:-35px;
			z-index: 999999;
		}
		#footer-social .half{
			width: 48%;
			float: left;
			padding: 0;
			height: 320px;

		}	
		#footer-social .half br{
			display: none;
			
		}	
		#footer-social .half .fb-like-box{
			background: #fff;
			border: 1px solid #e6dfd2;
			margin:40px 0 0 40px;
			padding: 0;
		}
		#footer-social .half #newsletter h4{
			font-size: 30px;
			font-weight: 400;
			padding: 0;
			margin: 0px 0 30px 0;
			color: #2a2a2a;
		}
		#footer-widgets { padding: 20px 0 20px 0;  }
			.footer-widget { width: 309px; margin: 20px 55px 10px 0; }
		#footer-bottom ul { padding: 23px 40px; }

			.home .et-first .post-description, .post-description { bottom: 40px; left: 40px; }
				.post-description h2 { font-size: 18px; }
		.recent-post { padding: 0 40px 40px; }
			.et-main-image { width: 160px; margin-right: 30px; }
				.et-main-image img { width: 160px; height: 160px; }

			.et-description .post-meta { font-size: 14px; }

	.home .et-first { width: 688px; height: 500px; padding-right: 0; margin-bottom: 4px; }
	.home .et-second { width: 688px; height: 248px; }
	.home .et-third, .home .et-fourth { width: 341px; height: 248px; }

	.home #main-content:before { background-color: transparent; border-left: none; }
	.home #main-content:after { background: none; }
	.home #content { float: none; width: 763px; }

	#main-content:before { display: none; }

	#sidebar { width: 100%; position: relative; border-top: 1px dashed #dbdbdb;}
		#sidebar .widget { width: 42.5%; float: left; }
		#sidebar .widget:nth-child( 2n+1 ) { clear: both; }
	
	.footer-banner { padding-left: 0px; padding-right: 0px; }

	.footer-widget:nth-child( 2n ) { margin-right: 0; }
	.footer-widget:nth-child( 2n+1 ) { clear: both; }

	.et-description { margin-left: 200px; }

	body.category #et-featured-posts { padding: 40px 39px; }
		body.category .et-first, body.category .et-second { width: 342px; height: 166px; }
			body.category .et-first .post-description, body.category .et-second .post-description { bottom: 7px; left: 30px; }
			body.category .et-first .post-description h2, body.category .et-second .post-description h2 { font-size: 18px; }

	.et_pt_gallery_entry { margin-left: 26px !important; }

	#et_pt_portfolio_gallery { margin-left: -35px !important; margin-right: -20px !important; }
		.et_pt_portfolio_item { margin-left: 38px !important; width: 201px !important; }
		.et_portfolio_more_icon, .et_portfolio_zoom_icon { top: 50px !important; }
		.et_portfolio_more_icon { left: 65px !important; }
		.et_portfolio_zoom_icon { left: 106px !important; }

	#et_pt_portfolio_gallery.et_portfolio_small { margin-left: -39px !important; }
		#et_pt_portfolio_gallery.et_portfolio_small .et_pt_portfolio_item { margin-left: 30px !important; width: 117px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { top: 20px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon { left: 26px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { left: 62px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -42px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 42px !important; width: 321px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 99px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 140px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 178px !important; }

	.et-single-post-ad { padding: 40px 0; margin-bottom: 0; }
	.footer-banner img{ padding: 5px 0px 0 0; }

}

@media only screen and ( max-width: 767px ) {
	.container { width: 478px; }
		#post-header{
			display: none;
		}


			
		#main-content-home{
			border-right: 1px solid #e0e0e0;
			border-left: 1px solid #e0e0e0;
		}
		#main-content-home #content{
			margin: 0px;
			padding:0px;
		}
		#actu-module-home .service{
			float: left;
			padding: 10px 0 0px 40px;
			height: auto;
			margin: 0px 0px 0 0px;
			width: 90%;
			border-bottom: 1px dashed #dbdbdb;
		}
		#actu-module-home .service .thumb2{
			width: 80%;
		}
		.ligne_actu{
			border-bottom: 0px dashed #dbdbdb;
			padding: 0px 0 0 0px;
		}


		#actu-module-home .liste-tag{
			margin: 0px 40px 20px 40px;
			border-bottom: 1px dotted #dbdbdb;
			padding: 8px 0;
			font-size: 14px;
			color: #dbdbdb;
		}
		#actu-link{
			width: 100%;
			padding: 0 0 0 20px;
			
		}
		#footer-social .half{
			width: 45%;
			float: left;
			padding: 0;
			height: 320px;

		}	
		#footer-social .half br{
			display: none;
			
		}	
		#footer-social .half .fb-like-box{
			background: #fff;
			border: 1px solid #e6dfd2;
			margin:30px 0 0 40px;
			padding: 0;
		}
		#footer-social .half #newsletter{
			padding: 40px 0 0 0;
			margin: 0;
			background: url(images/bg_newsletter.jpg) no-repeat left top;
			height: 240px;
		}
		#footer-social .half #newsletter input{
			width: 40%;
		}
		#footer-social .half #newsletter h4{
			font-size: 26px;
			font-weight: 400;
			padding: 0;
			margin: 0px 0 30px 0;
			color: #2a2a2a;
		}
		#breadcrumbs { font-size: 14px;  position: relative; color:#f8f7f4; text-transform: uppercase; margin: 0 0 0 0px;}

		#main-header .container #top-navigation nav{
		
			
		}
		#main-header .container #top-navigation .ubermenu-retractor{
			margin: 20px 0 0 0;
		}
		#main-header .container #top-navigation .ubermenu-responsive-toggle{
			border-top: 0px;
			border-bottom:0px;
			margin-top: 1px;
			border-top: 1px solid #dbdbdb;
		}
		#main-header #telephone{ 
			padding: 0; 
			margin: 20px 0 0 0;
			background: #f8f7f4;
			width: 37px;
			height: 40px;
			background: url(images/ulg_mid.png) no-repeat left top;
			text-indent: -10000px;
			position:absolute;
			right: 0px;
			top: 20px;
		}

		#main-slide{
			display: none;
		}
		#main-slide .news{
			width: 100%;
		}	
		#main-slide .publication{ 
			display: none;
		}

		#main-header #leitmotiv{ 
			display: none;
		}	

		#home-sidebar{
			display: none;
		}
		#main-content-home #content { width: 100%; }
		#main-header{
			background: url(images/bg_resp.jpg) repeat-x left top;
			height:130px;
		}
		#main-header #logo{
			display: block;
			width:150px;
			height:65px;
			background :transparent url(images/universud_small2.png) no-repeat center center;
			margin: 10px 0 0 0px;
			padding: 0px;
			text-indent:-10000px;
			position: absolute;
			top:0px;
			z-index: 999;
		}
		#main-header .container #top-navigation .ubermenu-submenu li .ubermenu-item-layout-image_only{
			display: none;
		}
		#main-header .container #top-navigation .ubermenu-responsive-toggle{

			margin: 80px 0 0 0px; 
		}
		#main-header .container #top-navigation .ubermenu-responsive-default{
			background: #f8f7f4;
		}
		#main-header .container #top-navigation #menu-item-174
		{
			margin: 0;
		}
		#main-bread{
			display:none;
		}
		
		.et_mobile_menu { }
		#featured .container { width: 480px; }
		.header-banner { float: none; text-align: center; }
		#top-info {  }
		#logo { padding-top: 40px; float: none; margin-bottom: -3px; }
		#et-social-icons, #top-menu { display: none; }
		#footer-bottom { }
		#et-featured-posts { padding: 40px; }
			.et-featured-post img, .popular-post .main-tab-image img { width: 100%; }
		.post-thumbnail .container { min-height: 200px; }
			h1.post-heading { font-size: 24px; }
			#breadcrumbs a { font-size: 14px; }
		#main-content:before { background-position: 478px 0; }
			#content, body.page #content{ width: 100%; }
			#sidebar{
				 border-top: 1px dashed #dbdbdb;
				 width: 100%;
			}
			#sidebar .widget {  padding-left: 40px; padding-right: 40px; }
			h4.widgettitle{
				
				margin: 0 0 0 0px;
			}
				#left-area { padding-top: 40px; }
					.entry-content { padding: 0 40px 30px; }
						.entry-content .post-meta { font-size: 24px; }
						.author-avatar { left: 40px; }
						#et-bio-author { padding: 40px 45px 25px 130px; }
						#et-post-share { padding: 20px 40px; }
					#comment-wrap { padding: 40px 0; }
						h1#comments, #reply-title { padding-left: 40px; }
							span.fn, span.fn a { font-size: 16px; }
			#sidebar .et-tabbed-all-tabs ul{
				

			}		
							
		#footer-widgets { padding: 20px 0 50px 0;}
			.footer-widget { width: 407px; margin: 30px 0 0 50px; }
			.home .et-first .post-description, .post-description { bottom: 20px; left: 20px; }
				.post-description h2 { font-size: 24px; }
		.recent-post { padding: 0 40px 40px; }
			.et-main-image { width: 160px; margin-right: 30px; }
				.et-main-image img { width: 160px; height: 160px; }

	.home .et-first { width: 400px; height: 291px; padding-right: 0; margin-bottom: 4px; }
		.home .et-first .excerpt-wrap { padding: 18px 62px 0 90px; }
	.home .et-second { width: 400px; height: 145px; }
	.home .et-third, .home .et-fourth { width: 198px; height: 144px; }
		.home .et-first .post-description h2 { font-size: 24px; }
		.home .et-second .post-description h2 { font-size: 24px; }
		.home .et-third .post-description h2, .home .et-fourth .post-description h2 { font-size: 18px; }
		.home .et-third .post-meta, .home .et-fourth .post-meta { display: none; }

	body.category .et-first, body.category .et-second { width: 400px; height: 195px; }
		body.category .et-first .post-description, body.category .et-second .post-description { bottom: 25px; left: 40px; }
		body.category .et-first .post-description h2, body.category .et-second .post-description h2 { font-size: 24px; }

	body.category .et-first { padding-right: 0; margin-bottom: 4px; }

	.home #additional-sidebar { display: none; }
	.home #main-content:before { background-color: transparent; border-left: none; }
	.home #main-content:after { background: none; }
	.home #content { float: none; width: 476px; }
		.home .et-main-image { display: none; }
		.home .categories-tabs-module .et-description, .home .recent-module .et-description { margin: 0; }
			.home .popular-tabs { display: none; }
			.popular-posts { margin-left: 0; width: auto; }
	#copyright { font-size: 13px; text-align: center; }

	.popular-module .module-title { text-align: center; }
	.recent-reviews .review-rating { position: relative; }
	.review-post .et-description { margin-left: 0; }

	.home #sidebar { background: #f7f7f7; }

	#main-content:before, .home #main-content:after { display: none; }
	.footer-banner { padding-left: 0px; padding-right:0px; }

	h4.widgettitle { }

	.et-description { margin-left: 200px; }

	.commentlist .children li { padding-left: 0; }

	.et_pt_gallery_entry { margin-left: 127px !important; }

	.sitemap-col { float: none !important; width: auto !important; }

	.et_pt_portfolio_item { margin-left: 130px !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 340px !important; margin-bottom: 10px; margin-left: 17px !important; }
		.et_portfolio_small .et_pt_portfolio_entry { float: left; margin-right: 15px; }
		.et_portfolio_small .et_portfolio_more_icon, .et_portfolio_small .et_portfolio_zoom_icon { top: 30px !important; }
		.et_portfolio_small .et_portfolio_more_icon { left: 38px !important; }
		.et_portfolio_small .et_portfolio_zoom_icon { left: 77px !important; }
	.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: 44px !important; width: 400px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -23px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 16px !important; width: 404px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 109px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 155px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 195px !important; }

	#et_mobile_nav_menu, .et-popular-mobile-arrow { display: none; }

	.categories-tabs { height: 50px; text-align: center; }
		.categories-tabs li { float: none; display: none; }
		.categories-tabs li.home-tab-active { display: inline-block; }

	.et-single-post-ad { padding: 40px; margin-bottom: 0; }
}

@media only screen and ( max-width: 478px ) {
	.container, #featured .container { width: 320px; }
		#et-social-icons, #top-menu, #footer-bottom, #breadcrumbs, .author-avatar, #et-post-share span { }
		#et-featured-posts { padding: 40px; }
			.et-featured-post img, .popular-post .main-tab-image img { width: 100%; }
		.post-thumbnail .container { min-height: 200px; }
			h1.post-heading { font-size: 24px; }
		#main-content:before { background-position: 320px 0; }
			#content, body.page #content { width: 320px; }
				#sidebar { width: 320px; }
					#sidebar .widget { width: 240px; padding: 0 40px 30px; }
				#left-area { padding-top: 40px; }
					.entry-content { padding: 0 40px 30px; }
						.entry-content .post-meta { font-size: 24px; }
						#et-bio-author { padding: 40px 40px 25px; }
						#et-post-share { padding: 15px 51px 13px 40px; }
					#comment-wrap { padding: 40px 0; }
						h1#comments, #reply-title { padding-left: 40px; }
							span.fn, span.fn a { font-size: 18px; }
		#post-header{
			display: none;
		}
		.ligne_actu{
			border-bottom: 0px dashed #dbdbdb;
			padding: 0px 0 0 0;
		}
		#actu-module-home .service{
			width: 90%;
			float: left;
			padding: 10px 0 0px 30px;
			height: auto;
			margin: 0px 0px 0px 0px;
			border-bottom: 1px dashed #dbdbdb;
		}
		#actu-module-home .service .thumb2{
			padding: 0 0px 0 0;
			width: 88%;
		}
		#main-header .container #top-navigation .ubermenu-retractor{
			margin: 20px 0 0 0;
		}

		#actu-module-home .liste-tag{
			margin: 0px 30px 20px 30px;
			border-bottom: 1px dotted #dbdbdb;
			padding: 8px 0;
			font-size: 14px;
			color: #dbdbdb;
		}
		#main-bread{
			display:none;
		}

		#footer-social .half{
			width: 75%;
			float:none;
			padding: 0 0 0 40px;
			height: auto;

		}	
		#footer-social .half .fb-like-box{
			background: #fff;
			border: 1px solid #e6dfd2;
			margin:0px 0 40px 0px;
			padding: 0;
		}
		#footer-social .half #newsletter{
			padding: 40px 0 0 0;
			margin: 0 0 40px 0;
			background: none;
			height: auto;
		}
		#main-header #logo{
			display: block;
			width:150px;
			height:65px;
			background :transparent url(images/universud_small2.png) no-repeat center center;
			margin: 10px 0 0 0px;
			padding: 0px;
			text-indent:-10000px;
			position: absolute;
			top:0px;
			z-index: 999;
		}
		#breadcrumbs { font-size: 14px;  position: relative; color:#f8f7f4; text-transform: uppercase; margin: 0 0 0 0px;}
		.et_mobile_menu { display: none;}					
		#footer-widgets { padding: 25px 25px 15px 0px; }
			.footer-widget { width: 240px; margin-right: 0; padding: 0 0 15px 0; }

			.post-description { bottom: 15px!important; left: 20px!important; }
				.post-description h2 { font-size: 18px!important; }
				.post-description .post-meta { display: none; }
			.meta-info { font-size: 18px; width: 40px; height: 40px; }
				.meta-info .month { font-size: 10px; margin-bottom: -5px; }
				.meta-info .meta-date { padding: 0px 8px 5px; }

		.recent-post { padding: 0 40px 40px; }
			.et-main-image { display: none; }
			.et-description h2 { font-size: 30px; }
			.et-description .post-meta { font-size: 14px; }
			
		.container #top-navigation { 
			padding: 0px; 
			width: 100%; 
			display: inline-block; 
			height: auto;
			margin: 0px 0 10px 0;
		}		


	.home .et-first { width: 240px; height: 175px; }
	.home .et-second { width: 240px; height: 87px; }
	.home .et-third, .home .et-fourth { width: 240px; height: 174px; }
		.home #et-featured-posts .post-description h2 { font-size: 18px; }
		.home #et-featured-posts .post-meta { display: none; }
	.home #additional-sidebar { display: none; }
	.home #main-content:before { background-color: transparent; border-left: none; }
	.home #main-content:after { background: none; }
	.home #content { float: none; width: 318px; }
		.home .review-post .et-description { margin-left: 0; }
		.home .recent-reviews .review-rating { bottom: 11px; }
		.home .et-main-image { display: none; }
		.home .categories-tabs-module .et-description, .home .recent-module .et-description { margin: 0; }
			.home .popular-tabs { display: none; }
			.popular-posts { margin-left: 0; width: auto; }
	#copyright { font-size: 13px; text-align: center; }

	body.category .et-first, body.category .et-second { width: 240px; height: 117px; }
		body.category .et-first .excerpt-wrap, body.category .et-second .excerpt-wrap { padding: 22px 49px 0 58px; }
		body.category .et-first .post-description, body.category .et-second .post-description { bottom: 7px; left: 20px; }
		body.category .et-first .post-description h2, body.category .et-second .post-description h2 { font-size: 18px; }

	.header-banner { display: none; }
	#logo { padding-top: 0; }

	.et-third { padding-right: 0; margin-bottom: 4px; }
	.featured-comments { left: 1px; }

	h4.widgettitle { margin: 0 -39px 30px 0px; }

	.et-description { margin-left: 0; }

	#et_contact_right { width: 100% !important; margin-left: 0 !important; }

	.et_pt_gallery_entry { margin-left: 43px !important; }

	#et_pt_portfolio_gallery, #et_pt_portfolio_gallery.et_portfolio_large { margin-left: -39px !important; }
		.et_pt_portfolio_item, #et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 16px !important; width: 228px !important; }
			.et_portfolio_more_icon, .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 53px !important; }
			.et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 70px !important; }
			.et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 110px !important; }

	#et_pt_portfolio_gallery { margin-left: -16px !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 255px !important; margin-left: 0 !important; }
	.et_portfolio_small .et_pt_portfolio_item.et_pt_portfolio_item { margin-left: -8px !important; width: 288px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 37px !important; }

	.et_mobile_menu { left: 0px; }

	.et-single-post-ad { display: none; }
}

*/
iframe .ss-footer{
	
}


/*------------------------------------------------*/
/*---------------modifications ben----------------*/
/*------------------------------------------------*/
#featured { height:320px; }
#featured .et-first { height:320px; }
#featured .et-second, #featured .et-third { width:474px; height:320px; }
#featured .et-third .post-description { width:380px; }
#featured .et-fourth { display:none; }
#featured .meta-info { display:none; }
#et-featured-posts .et-first .post-description h2, #et-featured-posts .et-second .post-description h2, #et-featured-posts .et-third .post-description h2 { font-size:1.5em; line-height:1.2em; }


/*MyCSS*/
.categories2 {
			margin: 0 auto;
			 width: 90%;	

	}
.categorie2{
			padding: 0;
			margin: 0;
			width: 50%;
			float: left;

	}
.leaf {
		width: 300px;
		height: 300px;
	}

#impair .content_categorie2 {
	border-right:1px solid #e5e5e5;

	}


#pair .content_categorie2 {
	border:1px 1px 0 0 solid #e5e5e5;

	}


.textwidget p {
	font-size: 16px;
	line-height: 30px;
}

.textwidget{
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
}

.textwidget span::after{

	 background: #4a900b none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    margin: 10px 0 0;
    width: 175px;
}

.green {
	color:#7aa23f;
	font-size: 20px;
	font-weight: 500;
}

#text-3 {
	background:url("images/bg-leaf.jpg");
	color: #fff;
	padding: 25px;
	margin-bottom: 70px;
}

#text-2 {
	padding: 0px 25px 25px 25px;
}

#sidebar #text-2 h4.widgettitle  { 
		display: block; 
		font-weight:normal; 
		font-size: 30px; 
		color: #333;
	}


#sidebar #text-3 h4.widgettitle  { 
		display: block; 
		font-weight:normal; 
		font-size: 30px; 
		color: #fff;
	}




#sidebar #text-3 h4.widgettitle::after{

	 background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 3px;
    margin: 10px 0 0;
    width: 175px;
}
#btn-sidebar {
    background: #fff none repeat scroll 0 0;
    color: green;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    padding: 12px 16px;
}

#half3 .entry-content .main-title::after {
	display:none;
}

.content_categorie2 img { max-width: 100%; height: auto; margin-top: 24px;}